/*HEADER STYLING*/






/*Category dropright menu styling*/
.btn.btn-secondary.dropdown-toggle{
    padding: 0;
    background: none;
    font-family: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #7971ea;
    border: none;
    box-sizing: content-box;
}
.btn.btn-secondary.dropdown-toggle::after {
    content: none;
}
.btn.btn-secondary.dropdown-toggle:hover{
    box-shadow: none;
}
.catName{
    text-transform: none;
    letter-spacing: normal;
    font-weight: lighter;
}


/*****************************************
Main shop page product display properties
*****************************************/
/* Fixes some display issues with image display for product divs */
.prodContainer{
    display: flex;
    position: relative;
    justify-content: space-around;
}
/* Fixes div width to inherit the parent div width */
.innerProdContainer{
    width: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* Fixes innerProdContainer block of text to appropriate space w/in parent div*/
.prodTextBlock{
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*Fixes long names in dropright menu for text wrapping*/
a.p-2{
    white-space: nowrap;
}

.block-4-image{
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img {
    border: 1px black;
    max-height: inherit;
}




