/*HEADER STYLING*/

/*STYLING FOR SEARCH FUNCTION IN HEADER.PHP*/
#search{
    border-bottom: 1px solid #ccc !important;
    border-radius: 0%;
}

#searchResults{
    background-color: white;
    border: 1px solid #ccc !important;
    position: absolute !important;
    width: auto;
    display: block;
    right: 0;
    left: 0;
    z-index: 100;
}

/* TODO: Put media query break points in to fix search results div size */

.manufact{
    font-weight: bold;
    display: block;
    padding-left: 8%;
    font-size: 1.2em;
    color: #7971ea;
}

.prodName{
    display: block;
    padding-left: 16%;
}


/* -------------------------------------------------------------------------- */
/*                      STYLING FOR HERO MESSAGE AT INDEX                     */
/* -------------------------------------------------------------------------- */
#heroMessage{

    background-color: #E8E8E8AA;
    border-radius: 12px;
}


/*Category dropright menu styling*/
.btn.btn-secondary.dropdown-toggle{
    padding: 0;
    background: none;
    font-family: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #7971ea;
    border: none;
    box-sizing: content-box;
}
.btn.btn-secondary.dropdown-toggle::after {
    content: none;
}
.btn.btn-secondary.dropdown-toggle:hover{
    box-shadow: none;
}
.catName{
    text-transform: none;
    letter-spacing: normal;
    font-weight: lighter;
}

.owlProdContainer{
    height: 500px;
    display: flex;
    justify-content: space-around;
}

/*
Main shop page product display properties
*****************************************/
/* Fixes some display issues with image display for product divs */
.prodContainer{
    display: flex;
    position: relative;
    justify-content: space-around;
}
/* Fixes div width to inherit the parent div width */
.innerProdContainer{
    width: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* Fixes innerProdContainer block of text to appropriate space w/in parent div*/
.prodTextBlock{
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.avgRating{
    display:flex;
    justify-content: space-around;
}

.avgRating > p {
    flex-basis: inherit;
    justify-content: center;
}


/* -------------------------------------------------------------------------- */
/*                               STARRR STYLING                               */
/* -------------------------------------------------------------------------- */
a.fa-star-o{
    font-size: 1.5rem;
}
a.fa-star{
    font-size: 1.5rem;
}
.readRating a{
    cursor: default!important;
}

.fa-star.single{
    font-size: 1.5rem;
    color: #7971ea;
    padding-left: .5rem;
    padding-right: .5rem;
}

.pScore > a {
    color:#7971ea!important;
}

.ratingCount{
    padding-left: .25rem;
    padding-right: .25rem;
}

/* -------------------------------------------------------------------------- */
/*                             STOCK COUNT STYLING                            */
/* -------------------------------------------------------------------------- */
.stockCount{
    font-size: 1.5rem;
    color: #7971ea;
}


/* -------------------------------------------------------------------------- */
/*                          REVIEW CONTAINER STYLING                          */
/* -------------------------------------------------------------------------- */
p.deets{
    font-size: 1rem;
}

.fNameDiv{
    border-top: 1px solid #ccc;
}

.fname{
    padding-top: .5em;
}

.deetsDiv{
    border: 1px solid #ccc;
    background: white;
    border-radius: 5px;
    margin-bottom: 1rem;
}

p.deets{
    padding: .25em 1em .25em 1em;
    text-align: left;
}


/* --------------------- LEAVE REVIEW CONTAINER STLYING --------------------- */
.reviewText{
    padding-bottom: .5em;
}

.messagetoUser{
    border-top: 1px solid #ccc;
}

.message{
    padding-top: 1em;
}

.scoreDiv{
    padding-bottom: 1em;
}

.reviewDetail{
    font-size: 1rem;
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: .25em 1em .25em 1em;
}

.submit{
    margin-top:1.5rem;
}

.ratingError{
    color: rgb(207, 65, 65);
}

/*Fixes long names in dropright menu for text wrapping*/
a.p-2{
    white-space: nowrap;
}

.block-4-image{
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img {
    border: 1px black;
    max-height: inherit;
}

/*CAROUSEL ICON POSITION*/
.carousel-control-prev,
.carousel-control-next{
    bottom: -115%;
}

/*CAROUSEL ICON COLORS*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #7971ea;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #7971ea;
}


/* -------------------------------------------------------------------------- */
/*                    RATING AND PRICE STYLE SHOPSINGLE.PHP                   */
/* -------------------------------------------------------------------------- */

.priceRating{
    display:flex;
    justify-content: space-between;
}

.priceSection{
    padding-left: 0;
}

.reviewSection{
    padding-right: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
}


/* ----------------------------- BUTTON SPACING ----------------------------- */

.cartReview{
    display:flex;
    justify-content: space-between;
}

.addToCartButton{
    padding-left: 0;
}

.leaveReviewButton{
    padding-right: 0;
    display:flex;
    justify-content: flex-end;
}


/* -------------------------------------------------------------------------- */
/*                               FILTER STYLING                               */
/* -------------------------------------------------------------------------- */

/* Manufacturer checkbox*/

.manuCheck{
    font-size: 1rem;
    font-weight: normal;
}

.manufact{
    font-weight: normal!important;
    font-size: 1rem !important;
}

.sortedPrice{
    font-size: 1rem;
    font-weight: normal;
    color: #7971ea;
}

.sortedManu{
    font-size: 1rem;
    font-weight: normal;
    color: #7971ea;
}

.sortManuDiv{
    display: flex;
    flex-direction: column;
}

.sortPriceDiv{
    display: flex;
    flex-direction: column;
}

.form-check-input{
    background-color: #7971ea !important;
}


/* -------------------------------------------------------------------------- */
/*                           ADDTOCART MODAL STYLING                          */
/* -------------------------------------------------------------------------- */
.modal-footer{
    justify-content: space-between;
}

/* -------------------------------------------------------------------------- */
/*                            CART BUTTONS STYLING                            */
/* -------------------------------------------------------------------------- */
.cartBtns{
    white-space: normal !important;
}


/* -------------------------------------------------------------------------- */
/*                            PROMO IMAGE ON FOOTER                           */
/* -------------------------------------------------------------------------- */
#promoImage{
    max-height: 150px;
}


/* -------------------------------------------------------------------------- */
/*                       PRODUCT SELECT ELEMENT STYLING                       */
/* -------------------------------------------------------------------------- */
.optionLabel{
    font-size: 1.2rem;
    color: #7971ea;
}

.selectGroup{
    margin-right: 2rem;
}

.selectGroupContainer{
    justify-content: flex-start;
}


/* -------------------------------------------------------------------------- */
/*                   STYLING SELECT BOXES ON BOGUS ADDTOCART                  */
/* -------------------------------------------------------------------------- */
.optionElementsError{
    border: 1px solid red;
}


/* -------------------------------------------------------------------------- */
/*                          QUICK VIEW MODAL STYLING                          */
/* -------------------------------------------------------------------------- */
.quickViewAccess{
    display: none;
}

#quickViewFooter{
    display: flex;
    justify-content: space-around;
}

#modalMessage{
    display: none;
    justify-content: space-around;
    font-size: 1rem;
    color: red;
}

/* -------------------------------------------------------------------------- */
/*                             CART TABLE STYLING                             */
/* -------------------------------------------------------------------------- */
.itemOptions{
    text-align: left !important;
    padding: 1% !important;
}

/* -------------------------------------------------------------------------- */
/*                            CHECKOUT LOGIN MODAL                            */
/* -------------------------------------------------------------------------- */
#loginTitle{
    font-size: 1.5rem;
    color: #7971ea;
}

#checkoutModalFooter{
    justify-content: center;
}